<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
		<nav class="main-nav">
			<ul>
				<li id="home" class="sub-menu-item"><a href="/">Home</a></li>
				<li id="about" class="sub-menu-item"><a href="/about">About</a></li>
				<li id="about" class="sub-menu-item"><a href="/blog">Blog</a></li>
				<li id="code" class="sub-menu-item"><a href="https://github.com/2Aphish">Code</a></li>
				<li id="write-ups" class="sub-menu-item"><a href="/write-ups">Write&#8209;ups</a></li>
				
			</ul>
	</nav>

	<div class="container">
  {{ content }}
  
  </div>
	</div>
</body>
<footer></footer>
</html>
